<div class="letter">
    <a href="{% url 'contact' 'a' %}">A</a>
    <a href="{% url 'contact' 'b' %}">B</a>
    <a href="{% url 'contact' 'c' %}">C</a>
    <a href="{% url 'contact' 'd' %}">D</a>
    <a href="{% url 'contact' 'e' %}">E</a>
    <a href="{% url 'contact' 'f' %}">F</a>
    <a href="{% url 'contact' 'g' %}">G</a>
    <a href="{% url 'contact' 'h' %}">H</a>
    <a href="{% url 'contact' 'j' %}">J</a>
    <a href="{% url 'contact' 'k' %}">K</a>
    <a href="{% url 'contact' 'l' %}">L</a>
    <a href="{% url 'contact' 'm' %}">M</a>
    <a href="{% url 'contact' 'n' %}">N</a>
    <a href="{% url 'contact' 'ñ' %}">Ñ</a>
    <a href="{% url 'contact' 'o' %}">O</a>
    <a href="{% url 'contact' 'p' %}">P</a>
    <a href="{% url 'contact' 'q' %}">Q</a>
    <a href="{% url 'contact' 'r' %}">R</a>
    <a href="{% url 'contact' 's' %}">S</a>
    <a href="{% url 'contact' 't' %}">T</a>
    <a href="{% url 'contact' 'u' %}">U</a>
    <a href="{% url 'contact' 'v' %}">V</a>
    <a href="{% url 'contact' 'w' %}">W</a>
    <a href="{% url 'contact' 'x' %}">X</a>
    <a href="{% url 'contact' 'y' %}">Y</a>
    <a href="{% url 'contact' 'z' %}">Z</a>
</div>