<form action="{% url 'contact' %}" class="search" method="GET">
    <input type="text" class="search-bar" name="search" placeholder="Buscar Contacto">
    <input type="submit" value="Buscar" class="btn btn-search">
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<span class="aux-btns"><a href="{% url 'contact' %}">Ver todos</a> <a
        href="{% url 'contact_create' %}">Añadir</a></span>